#title1 {padding: 100px; 
    border: 10px solid black; text-align: center; font-size: 100px; font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
text-shadow: 10px 2px 10px red;}

#title2 { letter-spacing: 100px; text-decoration: underline;}
li {line-height: 100px; font-weight: 700;font-size: 100px;}